<div
  class="fixed top-0 -z-10 h-screen w-screen bg-slate-50 bg-[radial-gradient(#02061720_1px,#f8fafc_1px)] bg-[size:20px_20px] dark:hidden"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 hidden bg-[radial-gradient(circle_800px_at_100%_0px,#8b5cf6,transparent)] md:block"
  >
  </div>
</div>
<div
  class="fixed top-0 -z-10 hidden h-screen w-screen bg-slate-950 bg-[radial-gradient(#f8fafc15_1px,#020617_1px)] bg-[size:20px_20px] dark:block"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 hidden bg-[radial-gradient(circle_800px_at_100%_0px,#2e1065,transparent)] md:block"
  >
  </div>
</div>
