---
import Posts from "@/components/Posts.astro";
import { configs } from "@/configs";
import Common from "@/layouts/Common.astro";
import { getPosts } from "@/lib/content";
import { t } from "@/utils";

const posts = await getPosts(configs.postsGrid.postsPerPage);
const postsPlusOne = await getPosts(configs.postsGrid.postsPerPage + 1);
const { length } = postsPlusOne;
---

<Common title="root">
  <h1 class="title">
    {configs.website.title}
  </h1>
  <Posts {posts} />
  {
    length > configs.postsGrid.postsPerPage && (
      <div class="mx-auto">
        <a class="button-state block px-4 py-2 text-lg" href="/page-2">
          {t("ui-website", "text.show-more")}
        </a>
      </div>
    )
  }
</Common>
